fastapi
uvicorn
pypdf
pymupdf
python-docx
sqlalchemy
psycopg2-binary
networkx
nltk
python-dotenv
pydantic
openai
wordfreq
alembic
python-multipart
spacy
sentence-transformers
scikit-learn
scipy
networkx